<section>
    <div class="about-title">
        <h2>Sobre mi</h2>
        <hr>
    </div>
    <div class="about-content">
        <div>
            <p>
                Saludos, soy Franco, un entusiasta Ingeniero en Informática 
                con una sólida formación académica y más de cuatro años de experiencia en el 
                apasionante mundo del desarrollo de software.
            </p>
            
            <p>
                Graduado con honores del DUOC UC en Viña del Mar, Chile, 
                he tenido el privilegio de trabajar en diversos proyectos que han desafiado y 
                ampliado mis habilidades técnicas.
            </p>
            <p>
                Mi trayectoria se ha centrado en la creación de soluciones tanto en el 
                Front-end como en el Back-end. En el Front-end, me he destacado colaborando 
                estrechamente con diseñadores para traducir sus visiones en experiencias de usuario 
                excepcionales. En el Back-end, he desarrollado una sólida comprensión de la arquitectura de sistemas y 
                la gestión eficiente de bases de datos.
            </p>
        </div>
        <div>
            <img src="/imgs/profile.jpeg" alt="Profile" />
        </div>
    </div>
</section>


<style>
    section {
        background-color: var(--black-tertiary);
        color: white;

        min-height: 100vh;
        height: 100%;

        padding: 100px 150px;
    }

    .about-title {
        display: flex;
        justify-content: flex-end;

        padding: 20px 50px;
    }

    .about-title h2 {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        text-decoration: underline; 
        margin-right: 10px;
    }

    .about-content {
        display: flex;
        justify-content: space-evenly;

        gap: 80px;
    }

    .about-content p {
        font-size: 2rem;
        font-weight: 200;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 14px;
    }

    .about-content img {
        width: 500px;
        height: 800px
    }

</style>