---
import Layout from "../layouts/Layout.astro";

import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Cover from "../components/sections/Cover.astro";
import Footer from "../components/sections/Footer.astro";
import Nav from "../components/sections/Nav.astro";
import Project from "../components/sections/Project.astro";

import type { IExpirence } from "../interfaces/IExperience"
import type { IProject } from "../interfaces/IProject"

const apiUrl = import.meta.env.API_URL;

const expirencesResponse = await fetch(`${apiUrl}/api/expirence`);
const expirencesResult: Array<IExpirence> = await expirencesResponse.json();

const projectsResponse = await fetch(`${apiUrl}/api/project`);
const projectsResult: {front: Array<IProject>, back: Array<IProject>} = await projectsResponse.json();
---

<Layout>
	<Nav></Nav>
	<Cover></Cover>
	<About expirences={expirencesResult || []}></About>
	<Project projects={projectsResult || []}></Project>
	<Contact></Contact>
	<Footer></Footer>
</Layout>