---
import Layout from "../layouts/Layout.astro";

import Nav from "../components/Nav.astro";
import Cover from "../sections/Cover.astro";
import About from "../sections/About.astro";
import Expirence from "../sections/Expirence.astro";
---

<Layout>
	<Nav></Nav>
	<Cover></Cover>
	<About></About>
	<Expirence></Expirence>
</Layout>