---

const { title } = Astro.props;

---
<accordion-ui>
    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-header">{title}</button>
            <div class="accordion-content">
                <div class="accordion-slot">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</accordion-ui>

<style>
    .accordion-item {
        border-bottom: 1px solid #333;
        overflow: hidden;
    }

    .accordion-header {
        width: 100%;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        font-family: "M PLUS 1 Code", monospace;
        text-align: left;
        font-weight: medium;
        padding: 15px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .accordion-header:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .accordion-item.active .accordion-content {
        max-height: 200px;
    }

    .accordion-content ul {
        padding: 10px 20px;
        text-align: left;
    }

    .accordion-slot {
        padding: 10px 20px;
    }
</style>

<script>
    class AccordionUi extends HTMLElement {
        constructor() {
            super();
            this.handleCollapser();
        }

        handleCollapser() {
            console.log('handleCollapser');
            const accordions = this.querySelectorAll(".accordion-item");

            accordions.forEach((item) => {
                console.log('forEach', item);
                const elementSelected = item.querySelector(".accordion-header");
                console.log('elementSelected', elementSelected);
                if (elementSelected) {
                    elementSelected.addEventListener("click", function () {
                        console.log('clickingh')
                        item.classList.toggle("active");
                    });
                }
            });
        }
    }

    customElements.define("accordion-ui", AccordionUi);
</script>
