---
import AccordionUi from "../shared/Accordion.astro";
import type { IExpirence } from "../../interfaces/IExperience";

interface Props {
    expirences: Array<IExpirence>
}

const { expirences } = Astro.props as Props;

---

<section id="about">
    <div class="about-title">
        <h2>Sobre mi</h2>
        <hr />
    </div>
    <div class="about-content">
        <aside class="expirence">
            <h3>Experiencia</h3>
            {   expirences &&
                expirences?.map((expirence) => (
                    <AccordionUi>
                        <div class="expirence-content">
                            <h4>Descripcion</h4>
                            <ul>
                                {expirence && expirence?.descriptions.map((description) => (
                                    <li>{description}</li>
                                ))}
                            </ul>
                        </div>
                    </AccordionUi>
                ))
            }

            { !expirences &&
                <p>No hay experiencias</p>
            }
        </aside>

        <aside class="skills">
            <h3>Habilidades</h3>
            <div class="grid">
                <div class="skill">
                    <img src="" alt="" />
                    <span>logo</span>
                </div>
            </div>
        </aside>
        <!-- <div class="about-card about-content__expirence">
            <h3>Experiencia</h3>
            <div class="about-collapse__container">
                Desarrollador Front-end - ChileCompra Santiago, 2024-2025
            </div>
            <div class="about-collapse__container">
                Head Tech - OrganizaMe Viña del Mar, 2018-2024
            </div>
            <div class="about-collapse__container">
                Desarrollador Full-stack - BanChile Santiago, 2022-2023
            </div>
            <div class="about-collapse__container">
                Desarrollador Front-end - 2X3 Santiago, 2021-2022
            </div>
            <div class="about-collapse__container">
                Desarrollador Back-end - Sigesi Montevideo, 2018
            </div>
            <div class="about-collapse__container">
                Desarrollador Full-Stack - E-brain Viña del Mar, 2018
            </div>
        </div>
        <div class="about-card about-content__tech">
            <h3>Habilidades</h3>
            <div class="about-logo__container-3">
                <img
                    src="/imgs/java.svg"
                    alt="Java-lenguaje de programación"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/logo-javascript.svg"
                    alt="Javascript-lenguaje de programación"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/typescript.svg"
                    alt="Typescript-lenguaje de programación"
                    width="60px"
                    height="68px"
                />
            </div>
            <div class="about-logo__container-3">
                <img
                    src="/imgs/html-1.svg"
                    alt="HTML-lenguaje de maquetación"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/css-3.svg"
                    alt="CSS-lenguaje de estilos"
                    width="60px"
                    height="68px"
                />
            </div>
            <div class="about-logo__container-3">
                <img
                    src="/imgs/spring-3.svg"
                    alt="Spring-boot-framework de Java"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/angular-icon-1.svg"
                    alt="Angular-framework de Javascript"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/nodejs-icon.svg"
                    alt="Nodejs-framework de Javascript"
                    width="60px"
                    height="68px"
                />
            </div>
            <div class="about-logo__container-3">
                <img
                    src="/imgs/astrojs.svg"
                    alt="Astrojs-framework de Javascript"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/react-2.svg"
                    alt="React-framework de Javascript"
                    width="60px"
                    height="68px"
                />
            </div>
            <div class="about-logo__container-3">
                <img
                    src="/imgs/mysql-logo-pure.svg"
                    alt="MySQL-base de datos"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/mongodb-icon-1.svg"
                    alt="MongoDB-base de datos"
                    width="60px"
                    height="68px"
                />
                <img
                    src="/imgs/postgresql.svg"
                    alt="PostgreSQL-base de datos"
                    width="60px"
                    height="68px"
                />
            </div>
        </div> -->
    </div>
</section>

<style>
    section {
        background-color: var(--black-tertiary);
        color: white;

        min-height: 100vh;
        height: 100%;

        padding: 100px 150px;
    }

    .about-title {
        display: flex;
        justify-content: flex-end;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .about-title h2 {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        margin-right: 10px;
    }

    .about-content {
        max-width: 800px;
        margin: auto;
    }

    .about-content h3 {
        font-size: 2.5rem;
        font-weight: 400;

        margin-bottom: 16px;
    }

    .about-card {
        background-color: var(--black-secondary);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: left;
    }

    .about-collapse__container {
        border: 1px solid var(--black-secondary);
        background-color: var(--black-tertiary);
        padding: 12px;
        margin-bottom: 8px;
        font-size: 16px;
    }

    .about-card p {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .about-card h3 {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .about-logo__container-3 {
        display: flex;
        justify-content: space-around;
        margin: 16px 0;
    }

    .expirence {
        margin-bottom: 60px;
    }

    .expirence-content h4 {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .expirence-content ul {
        padding: 10px 20px;
        text-align: left;
        font-size: 1.8rem;
    }

    /* SKILLS */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 15px;
        margin-top: 20px;
    }

    .skill {
        background: #1e1e1e;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        transition: transform 0.3s;
    }

    .skill:hover {
        transform: scale(1.1);
    }

    .skill img {
        width: 50px;
        height: 50px;
    }

    .skill span {
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        color: #ccc;
    }

    @media (max-width: 1200px) {
        section {
            padding: 90px 120px;
        }
    }

    @media (max-width: 992px) {
        section {
            padding: 90px 90px;
        }
    }

    @media (max-width: 768px) {
        section {
            padding: 60px 50px;
        }
    }

    @media (max-width: 576px) {
        section {
            padding: 40px 20px;
        }
    }
</style>
