---
import Button from "../shared/Button.astro";

const serviceID = 'service_tpnl9rq';
const templateID = 'template_spdt8nr'
const publicID = 'lebt2ui51IVXSzIhx'

---

<contact-form data-service={serviceID} data-template={templateID} data-public={publicID}>
    <section id="contact">
        <div class="contact-title">
            <h2 class="hidden">Contacto</h2>
        </div>
        <div class="contact-container">
            <div class="contact-container__description">
                <p id="first-paragraph" class="hidden">
                    ¿Tienes alguna pregunta o proyecto en mente?
                </p>
                <p id="second-paragraph" class="hidden">
                    Escríbeme y te responderé lo antes posible.
                </p>
            </div>
            
            
            <form class="contact-container__form hidden">
                <div class="contact-container__form--group">
                    <label for="name" class="contact-container__form--group-label">Nombre</label>
                    <input
                        type="text"
                        id="nombre"
                        name="name"
                        class="contact-container__form--group-input"
                        placeholder="Tu nombre"
                        required
                    />
                </div>
                <div class="contact-container__form--group">
                    <label for="email" class="contact-container__form--group-label"
                        >Correo electrónico</label
                    >
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="contact-container__form--group-input"
                        placeholder="tucorreo@ejemplo.com"
                        required
                    />
                </div>
                <div class="contact-container__form--group">
                    <label for="message" class="contact-container__form--group-label"
                        >Mensaje</label
                    >
                    <textarea
                        id="mensaje"
                        name="message"
                        class="contact-container__form--group-textarea"
                        placeholder="Escribe tu mensaje aquí..."
                        rows="5"
                        required></textarea>
                </div>
                <Button type="submit" key="send-email">Enviar mensaje</Button>
            </form>
        </div>
    </section>
</contact-form>

<style>
    section {
        background-color: var(--black-secondary);
        color: var(--white-main);
        /* padding: 4rem 1rem 13rem; */
        min-height: 100vh;
        height: 100%;

        padding: 100px 150px;
    }

    .contact-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-title {
        display: flex;
        justify-content: center;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .contact-title h2 {
        font-weight: 300;
        font-size: var(--text-xxl);
        color: var(--white-main);
        margin-right: 10px;
        white-space: nowrap;
        border-right: 4px solid;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        width: 9ch;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .contact-title h2.show {
        opacity: 1;
        visibility: visible;
        animation: typing 1s steps(12) forwards, blink 0.5s infinite step-end alternate;
    }

    .contact-container__description {
        margin-bottom: 2rem;   
    }
    .contact-container__description p {
        font-size: var(--text-lg);
        color: var(--white-main);
        margin-right: 10px;
        border-right: 4px solid;
        opacity: 0;
        visibility: hidden;
        width: 45ch;
        overflow: hidden;
        white-space: nowrap;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    #first-paragraph.show {
        animation:  show 0s linear 3s forwards, typing 1s steps(12) forwards, blink 0.5s infinite step-end alternate, border-remove 0.1s 2s forwards;
        animation-delay: 1s, 1s, 1s, 2s;
    }

    #second-paragraph.show {
        animation:  show 0s linear 3s forwards, typing 1s steps(12) forwards, blink 0.5s infinite step-end alternate;
        animation-delay: 2s, 2s, 2s;
    }

    .contact-container__form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-container__form--group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    .contact-container__form--group-label {
        font-size: var(--text-md);
        color: #ffffff;
        margin-bottom: 0.5rem;
    }

    .contact-container__form--group-input,
    .contact-container__form--group-textarea {
        padding: 0.8rem;
        border: 1px solid #333333;
        border-radius: 4px;
        background-color: #262626;
        color: #ffffff;
        font-size: var(--text-sm);
        transition: border-color 0.3s ease;
    }

    .contact-container__form--group-input::placeholder,
    .contact-container__form--group-textarea::placeholder {
        color: #666666;
    }

    .contact-container__form--group-input:focus,
    .contact-container__form--group-textarea :focus {
        border-color: #ffffff;
        outline: none;
    }

    .contact-container__form--group-textarea  {
        resize: vertical;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out;
    }

    .show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
        100% {
            border-color: transparent;
        }
    }
    @keyframes show {
        0% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }
    @keyframes border-remove {
        to { border-right: none; }
    }
    @media (max-width: 768px) {
        section {
            padding: 100px 50px;
        }
        .contact-title h2 {
            font-size: var(--text-xl);
        }
    }

    @media (max-width: 632px) {
        section {
            padding: 100px 50px;
        }
        .contact-title h2 {
            font-size: var(--text-xl);
        }
        .contact-container__description p {
            font-size: var(--text-md);
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        .contact-container__description p {
            font-size: var(--text-sm);
        }

        .contact-container__form--group-label {
            font-size: var(--text-sm);
        }
    }
    @media (max-width: 425px) {
        section {
            padding: 100px 30px;
        }

        .contact-title h2 {
            font-size: var(--text-lg);
        }
    }

    @media (max-width: 375px) {
        .contact-container__description p {
            font-size: var(--text-xs);
        }

        .contact-container__form--group-label {
            font-size: var(--text-xs);
        }
    }
</style>
<script>
    import emailjs from "emailjs-com";
    import { Notyf } from 'notyf';


    class ContactForm extends HTMLElement {
        notyf;

        constructor() {
            super();
            this.handleSubmit();
            this.notyf = new Notyf({
                duration: 2000,
                position: {
                    x: 'right',
                    y: 'top',
                }
            });
        }

        handleSubmit() {
            const form = this.querySelector("form");
            const btnSend = this.querySelector("button");

            if (form) {
                form.addEventListener("submit", async (e) => {
                    e.preventDefault();
                    
                    if (btnSend) btnSend.disabled = true;

                    const service = this.getAttribute("data-service") || '';
                    const template = this.getAttribute("data-template") || '';
                    const publicID = this.getAttribute("data-public") || '';

                    emailjs.sendForm(service, template, form, publicID)
                        .then(() => {
                            this.notyf.success('E-mail enviado con éxito');
                            form.reset();

                            if (btnSend) btnSend.disabled = false;
                        })
                        .catch(() => {
                            this.notyf.error('E-mail no ha sido enviado')
                            if (btnSend) btnSend.disabled = false;
                        });
                });
            }
        }
    }

    customElements.define("contact-form", ContactForm);
</script>
