---
import Button from "../shared/Button.astro";

const serviceID = import.meta.env.EMAILJS_SERVICE_ID
const templateID = import.meta.env.EMAILJS_TEMPLATE_ID
const publicID = import.meta.env.EMAILJS_PUBLIC_KEY

---

<contact-form data-service={serviceID} data-template={templateID} data-public={publicID}>
    <section id="contact">
        <div class="contact-title">
            <h2>Contacto</h2>
            <hr />
        </div>
        <div class="contacto-contenedor">
            <p class="contacto-descripcion">
                ¿Tienes alguna pregunta o proyecto en mente? Escríbeme y te
                responderé lo antes posible.
            </p>
            <form class="contacto-formulario">
                <div class="formulario-grupo">
                    <label for="name" class="formulario-etiqueta">Nombre</label>
                    <input
                        type="text"
                        id="nombre"
                        name="name"
                        class="formulario-input"
                        placeholder="Tu nombre"
                        required
                    />
                </div>
                <div class="formulario-grupo">
                    <label for="email" class="formulario-etiqueta"
                        >Correo electrónico</label
                    >
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="formulario-input"
                        placeholder="tucorreo@ejemplo.com"
                        required
                    />
                </div>
                <div class="formulario-grupo">
                    <label for="message" class="formulario-etiqueta"
                        >Mensaje</label
                    >
                    <textarea
                        id="mensaje"
                        name="message"
                        class="formulario-textarea"
                        placeholder="Escribe tu mensaje aquí..."
                        rows="5"
                        required></textarea>
                </div>
                <Button type="submit" key="send-email">Enviar mensaje</Button>
            </form>
        </div>
    </section>
</contact-form>

<style>
    section {
        background-color: var(--black-secondary);
        color: var(--white-main);
        /* padding: 4rem 1rem 13rem; */
        min-height: 100vh;
        height: 100%;

        padding: 100px 150px;
    }

    .contacto-contenedor {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-title {
        display: flex;
        justify-content: center;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .contact-title h2 {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        margin-right: 10px;
    }

    .contacto-contenedor h2 {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        margin-right: 10px;
    }

    .contacto-titulo {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        text-decoration: underline;
        margin-right: 10px;
        padding: 20px 50px;
        margin-bottom: 10px;
    }

    .contacto-descripcion {
        font-size: 1.6rem;
        color: var(--white-main);
        margin-bottom: 2rem;
    }

    /* Estilos del formulario */
    .contacto-formulario {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .formulario-grupo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    .formulario-etiqueta {
        font-size: 1.4rem;
        color: #ffffff;
        margin-bottom: 0.5rem;
    }

    .formulario-input,
    .formulario-textarea {
        padding: 0.8rem;
        border: 1px solid #333333; /* Borde gris oscuro */
        border-radius: 4px;
        background-color: #262626; /* Fondo gris oscuro */
        color: #ffffff;
        font-size: 1.3rem;
        transition: border-color 0.3s ease;
    }

    .formulario-input::placeholder,
    .formulario-textarea::placeholder {
        color: #666666; /* Placeholder gris */
    }

    .formulario-input:focus,
    .formulario-textarea:focus {
        border-color: #ffffff; /* Borde blanco al enfocar */
        outline: none;
    }

    .formulario-textarea {
        resize: vertical; /* Permite redimensionar verticalmente */
    }
</style>
<script>
    import emailjs from "emailjs-com";

    class ContactForm extends HTMLElement {
        constructor() {
            super();
            this.handleSubmit();
        }

        handleSubmit() {
            const form = this.querySelector("form");

            if (form) {
                form.addEventListener("submit", async (e) => {
                    e.preventDefault();
                    const formData = new FormData(form);
                    const data = Object.fromEntries(formData.entries());

                    const service = this.getAttribute("data-service") || '';
                    const template = this.getAttribute("data-template") || '';
                    const publicID = this.getAttribute("data-public") || '';

                    emailjs.sendForm(service, template, form, publicID);
                });
            }
        }
    }

    customElements.define("contact-form", ContactForm);
</script>
