<section>
    <aside>
        <img src="/imgs/logo_size_invert.jpg" alt="DevDark" width="200px" height="200px"/>
    </aside>
    <aside>
        <img src="/imgs/github-white.svg" alt="Github">
    </aside>
    <aside>
        <p>Developed by DarkDev&reg;</p>
    </aside>
</section>

<style>

section {
    background-color: var(--black-main);
    color: white;

    padding: 35px;
}

aside {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
    font-size: 1.8rem;
}

</style>