---
import Button from "../shared/Button.astro"
import SideBar from "../shared/SideBar.astro";

import { CV_DICTIONARY } from "../../config"
---

<nav-main data-cv-route={CV_DICTIONARY.ROUTE} data-cv-file={CV_DICTIONARY.FILE}>
    <nav>
        <section>
            <a href="#cover"><img id="logo" src="/imgs/logo_size_invert.jpg" alt="DevDark" width="100px" height="100px"/></a>
        </section>
        <section id="section-nav">
            <a href="#about">Sobre mi</a>
            <a href="#portfolio">Portafolio</a>
            <a href="#contact">Contacto</a>
           <Button key="download-cv">Descargar CV</Button>
        </section>
        <section id="section-nav-hidden">
            <img id="img-nav-hidden" src="/imgs/menu.svg" alt="Menù" width="40px" height="48px"/>
        </section>
    </nav>
    
    <!-- <SideBar></SideBar> -->
</nav-main>

<style>
    #section-nav-hidden {
        display: none;
        margin: 25px 20px;
        cursor: pointer;
    }

    #section-nav button {
        margin-left: 20px;
    }

    #section-nav a {
        color: var(--white-main);
        padding: 25px 20px;
        cursor: pointer;
        font-size: 1.3rem;
        text-decoration: none;
    }
    #section-nav a:hover {
        color: var(--grey-main);
    }

    nav {
        display: flex;
        justify-content: space-between;

        background-color: var(--black-main);

        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    nav section:nth-child(2) {
        padding: 25px 20px;
    }

    nav section:nth-child(2) a {
        padding: 8px;
    }
    }
    @media (max-width: 768px) {
        #section-nav-hidden {
            display: block;
        }

        #section-nav {
            display: none;
        }
    }

</style>

<script>
    class NavMain extends HTMLElement {
        constructor() {
            super();
            // this.handlerSideBar();
            this.handleScrollToSection()
            this.handleDownloadCV();
        }

        handlerSideBar() {
            const imageNav = this.querySelector('#img-nav-hidden') as HTMLImageElement;
            const sideBar = this.querySelector('#sidebar') as HTMLElement;

            imageNav?.addEventListener('click', () => {
                if (sideBar.style.right === "" || sideBar.style.right === "-50%") {
                    sideBar.style.right = "0%";
                } 
            });
        }

        handleScrollToSection() {
            this.querySelectorAll("nav a").forEach((link) => {
                link.addEventListener("click", (event) => {
                    event.preventDefault();
                    const target = document.querySelector(link.getAttribute("href") || '');
                    target?.scrollIntoView({ behavior: "smooth" });
                });
            });
        }

        handleDownloadCV() {
            const downloadCV = this.querySelector("#download-cv") as HTMLButtonElement;
            const routeCV = this.getAttribute("data-cv-route") || '';
            const fileCV = this.getAttribute("data-cv-file") || '';

            downloadCV?.addEventListener("click", () => {
                const link = document.createElement("a");

                link.href = routeCV;
                link.download = fileCV;
                
                document.body.appendChild(link);
                
                link.click();
                
                document.body.removeChild(link);
            });
        }
    }

    customElements.define('nav-main', NavMain);
</script>