---
import type { IProject } from "../../interfaces/IProject";
import ProjectsGrid from "../react/Projects.grid";

interface Props {
    projects: { front: Array<IProject>; back: Array<IProject> };
}

const { projects } = Astro.props as Props;

const createMultiGrid = (projects: Array<IProject>, perPage: number) => {
    const grids = [];

    for (let i = 0; i < projects.length; i += perPage) {
        grids.push(projects.slice(i, i + perPage));
    }
    return grids;
};

const frontProjects = createMultiGrid(projects?.front, 3);
const backProjects = createMultiGrid(projects?.back, 3);
---

<section id="portfolio">
    <div class="project-title">
        <h2>Portafolio</h2>
        <hr />
    </div>

    <div class="project-body">
        <div class="project-container__header">
            <h3>Front-end</h3>
        </div>

        <ProjectsGrid
            client:load
            projects={frontProjects || []}
        />

        <div class="project-container__header">
            <h3>Back-end</h3>
        </div>

        <ProjectsGrid client:load projects={backProjects || []} />
    </div>
</section>

<style>
    section {
        background-color: var(--black-tertiary);
        color: white;

        min-height: 100vh;
        height: 100%;

        padding: 100px;
    }

    .project-title {
        display: flex;
        justify-content: flex-start;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .project-title h2 {
        font-weight: 300;
        font-size: var(--text-xxl);
        color: var(--white-main);
        margin-right: 10px;
    }

    .project-body {
        padding: 20px;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    .project-container__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .project-container__header h3 {
        font-size: var(--text-xl);
        font-weight: 300;
        color: var(--white-main);
    }

    @media (max-width: 1444px) {
        section {
            padding: 100px 80px;
        }
    }

    @media (max-width: 1024px) {
        section {
            padding: 100px 80px;
        }
    }

    @media (max-width: 768px) {
        section {
            padding: 50px 30px;
        }
        .project-body {
            padding: 0
        }
    }
</style>