---
import type { IProject } from "../../interfaces/IProject";
import Card from "../shared/Card.astro";


interface Props {
    projects: {front: Array<IProject>, back: Array<IProject>}
}

const { projects } = Astro.props as Props;

---

<section id="portfolio">
    <div class="project-title">
        <h2>Portafolio</h2>
        <hr />
    </div>

    <div class="project-body">
        
        <div class="project-container__header">
            <h3>Front-end</h3>
        </div>

        <div class="project-container">
            {
                projects && projects?.front.map((project, index) => (
                    <Card key={index.toString()} project={project}></Card>
                ))
            }
        </div>

        <div class="project-container__header">
            <h3>Back-end</h3>
        </div>
        <div class="project-container">
            {
                projects && projects?.back.map((project, index) => (
                    <Card key={index.toString()} project={project}></Card>
                ))
            }
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--black-tertiary);
        color: white;

        min-height: 100vh;
        height: 100%;

        padding: 100px 150px;
    }

    .project-title {
        display: flex;
        justify-content: flex-start;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .project-title h2 {
        font-weight: 300;
        font-size: 3.2rem;
        color: var(--white-main);
        margin-right: 10px;
    }

    .project-body {
        padding: 20px 100px;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    .project-container__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .project-container__header h3 {
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--white-main);
    }
    
    @media (max-width: 1024px) {
        section {
            padding: 100px 120px;
        }
        .project-body {
            padding: 20px 50px;
        }
    } 


    @media (max-width: 768px) {
        section {
            padding: 50px 70px;
        }
        .project-body {
            padding: 10px 30px;
        }
    } 


    @media (max-width: 425px) {
        section {
            padding: 30px 30px;
        }
        .project-body {
            padding: 20px 10px;
        }
    } 
</style>