---
import type { IProject } from "../../interfaces/IProject";
import ProjectsGrid from "../react/Projects.grid";

interface Props {
    projects: { front: Array<IProject>; back: Array<IProject> };
}

const { projects } = Astro.props as Props;

const createMultiGrid = (projects: Array<IProject>, perPage: number) => {
    const grids = [];

    for (let i = 0; i < projects.length; i += perPage) {
        grids.push(projects.slice(i, i + perPage));
    }
    return grids;
};

const frontProjects = createMultiGrid(projects?.front, 3);
const backProjects = createMultiGrid(projects?.back, 3);
---

<section id="portfolio">
    <div class="project-title">
        <h2 class="hidden">Portafolio</h2>
    </div>

    <div class="project-body">
        <div class="project-container__header">
            <h3 class="hidden">Front-end</h3>
        </div>

        <ProjectsGrid
            client:load
            projects={frontProjects || []}
        />

        <div class="project-container__header">
            <h3 class="hidden">Back-end</h3>
        </div>

        <ProjectsGrid client:load projects={backProjects || []} />
    </div>
</section>

<style>
    section {
        background-color: var(--black-tertiary);
        color: white;

        min-height: 100vh;
        height: 100%;

        padding: 100px;
    }

    .project-title {
        display: flex;
        justify-content: flex-start;

        padding: 20px 50px;

        margin-bottom: 20px;
    }

    .project-title h2 {
        font-weight: 300;
        font-size: var(--text-xxl);
        color: var(--white-main);
        margin-right: 10px;
        white-space: nowrap;
        border-right: 4px solid;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        width: 11ch;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .project-title h2.show {
        opacity: 1;
        visibility: visible;
        animation: typing 1s steps(12) forwards, blink 0.5s infinite step-end alternate;
    }

    .project-body {
        padding: 20px;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    .project-container__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .project-container__header h3 {
        font-size: var(--text-xl);
        font-weight: 300;
        color: var(--white-main);
        white-space: nowrap;
        border-right: 4px solid;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        width: 10ch;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }
    .project-container__header h3.show {
        opacity: 1;
        visibility: visible;
        animation: typing 1s steps(12) forwards, blink 0.5s infinite step-end alternate;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out;
    }

    .show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
        100% {
            border-color: transparent;
        }
    }

    @media (max-width: 1444px) {
        section {
            padding: 100px 80px;
        }
    }

    @media (max-width: 1024px) {
        section {
            padding: 100px 80px;
        }
    }

    @media (max-width: 768px) {
        section {
            padding: 50px 30px;
        }
        .project-body {
            padding: 0
        }
    }
</style>